$accent-color: #00995E;
$primary-color: #FB7DA8;

.body {
  background: $accent-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 40px 0 40px;
}

.fix-bottom {
  padding: 0 0 10px 0;
}

.m-body {
  display: none;
}

.title {
  flex-grow: 2;
  text-align: start;
}

a {
  color: white;
}

.favicon {
  height: 50px;
  width: 50px;
  border: 0;
  margin: 0 10px 0 0;
  padding: 0;
}

a:hover {
  color: $primary-color;
}

@media (width < 600px) {

  .body {
    display: none;
  }

  .m-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent-color;
    padding: 10px 40px 0 40px;
  }

  .title {
    flex-grow: 0;
    text-align: center;
  }

}