<div class="body" [ngClass]="{ 'body-movie' : onMovieSite }">
    <a [ngClass]="{ 'a-movie' : onMovieSite }" class="title-with-img" [routerLink]="['/home']"><img class="favicon" [src]="onMovieSite ? 'assets/favicon-movies.png' : 'assets/favicon.png'"><p class="p-b-i title fix-bottom">rate now cry later</p></a>
    <app-play-button
            *ngIf="!onMovieSite"
            [url]="emptyUrl"
            [isPlaying]="isAnySongPlaying"
            [isOnlyStopButton]="true"
    ></app-play-button>
    <app-mute-button *ngIf="!onMovieSite"></app-mute-button>
    <app-play-track *ngIf="!onMovieSite"></app-play-track>
    <div class="wide-only">
        <div class="flex-grow"></div>
        <a [ngClass]="{ 'a-movie' : onMovieSite }" class="text-margin fix-bottom" (click)="routeToAlbums()">fav albums of 2026</a>
    </div>
</div>


