$primary-color: #171d29;
$primary-color-lighter: #2b2e43;
$accent-color: #a0ff5c;
$secondary-color: #e33050;
$secondary-color-light: #d077ad;
$text-color: white;
$light-accent-color: #67ca91;
$accent-color-movies: #30a7c3;
$secondary-color-movies: #e33050;
$secondary-color-movies-transparent: #d574aa;
$light-accent-color-movies: #67ca91;

.body {
  background: $primary-color-lighter;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 40px 0 40px;
}

.fix-bottom {
  padding: 0 0 10px 0;
}

.wide-only {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}

.title-with-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 3px solid $accent-color;
  border-radius: 0;
  margin-right: 30px;
}

.title {
  text-align: start;
  margin: 0 30px 0 0;
}

.flex-grow {
  flex-grow: 2;
  min-width: 20px;
}

a, p {
  color: $accent-color;
}

.favicon {
  height: 50px;
  width: 50px;
  border: 0;
  margin: 0 10px 0 0;
  padding: 0;
}

.mobile {
  display: none !important;
}

.sub-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: $light-accent-color;
  padding: 5px;
}

a:hover p, a:hover, i:hover, {
  color: $secondary-color-light;
}

@media (width < 600px) {
  .sub-body {
    flex-direction: column;
  }
}

@media (width < 1200px) {
  .mobile {
    display: flex !important;
  }

  .wide-only {
    display: none;
  }

  .body {
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0 10px;
  }

  .title {
    flex-grow: 0;
    text-align: center;
  }

}
