$accent-color: #00995E;
$primary-color: #FB7DA8;

.body {
  background: $accent-color;
  display: flex;
  flex-direction: row;
  padding: 20px 40px;
}

.m-body {
  display: none;
}

.title {
  flex-grow: 2;
  text-align: start;
}

a {
  color: $primary-color;
}

a:hover {
  color: white;
}

@media (width < 600px) {

  .body {
    display: none;
  }

  .m-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent-color;
    padding: 20px 40px;
  }

  .title {
    flex-grow: 1;
    text-align: center;
  }

}