<div class="non-mobile upper flex-column align-center justify-center gap-xl">
    <a class="recap-title" [routerLink]="['/home']"><img [src]="'assets/favicon.png'" alt="favicon"><p class="p-b-i">rate now cry later</p></a>
    <p class="p-b fs-recap-xl">{{ title }}</p>
</div>
<div class="outer" #outer>
    <p class="mobile p-i fs-recap-xl">{{ title }}</p>
    <div class="content flex-column align-center justify-center recap-gap">
        <p class="p-b-i fs-recap-number">#{{ activeAlbumNumber }}</p>
        <img class="recap-cover" src="{{activeRecapItem?.imgUrl}}" alt="" onerror="this.src='assets/placeholder.png'">
        <div>
            <p class="p-b-i fs-recap-artist">{{ typedArtist$ | async }}</p>
            <p class="p-b-i fs-recap-title">{{ typedText$ | async }}</p>
        </div>
    </div>
    <div class="mobile lower flex-column align-center justify-center gap-l">
        <div class="lower-in flex-row align-center justify-center gap-l">
            <button
                    [ngClass]="{'next-button-disabled' : activeAlbumNumber >= maxAlbums }"
                    class="next-button" [disabled]="activeAlbumNumber >= maxAlbums"
                    (click)="prevAlbum()"><i class="fa-solid fa-backward"
            ></i></button>
            <a class="p-b" [routerLink]="link">VIEW ALL</a>
            <button [ngClass]="{'next-button-disabled' : activeAlbumNumber <= 1 }"
                    class="next-button" [disabled]="activeAlbumNumber <= 1"
                    (click)="nextAlbum()"
            ><i class="fa-solid fa-forward"></i></button>
        </div>
    </div>
</div>
<div class="non-mobile lower flex-row align-center justify-center gap-l">
    <div class="lower-in flex-row align-center justify-center gap-l">
        <button
                [ngClass]="{'next-button-disabled' : activeAlbumNumber >= maxAlbums }"
                class="next-button" [disabled]="activeAlbumNumber >= maxAlbums"
                (click)="prevAlbum()"><i class="fa-solid fa-backward"
        ></i></button>
        <a class="p-b" (click)="routeToAll()">VIEW ALL</a>
        <button [ngClass]="{'next-button-disabled' : activeAlbumNumber <= 1 }"
                class="next-button" [disabled]="activeAlbumNumber <= 1"
                (click)="nextAlbum()"
        ><i class="fa-solid fa-forward"></i></button>
    </div>
</div>
