::ng-deep html, ::ng-deep body {
  overflow: hidden !important;
}

::ng-deep .body {
  background: rgb(21, 21, 21) !important;
}

::ng-deep .main-content {
  width: 100vw !important;
  height: 100vh !important;
  margin: 0 !important;
}

.outer {
  width: 100vw;
  height: 100%;
  background: black;
  background-size: 400% 400%;
  animation: gradient 5s ease forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


.content {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 0px 4px #ffffff);
}

.upper {
  position: fixed;
  top: 100px;
  width: 100vw;
  z-index: 1;
}

.lower {
  position: fixed;
  bottom: 100px;
  width: 100vw;
}

.lower-in {
  background: rgb(21, 21, 21);
  padding: 10px;
  border-radius: 5px;
}

.lower a {
  color: white;
  margin: 0;
}

.next-button {
  font-size: 16px;
  height: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  text-decoration: none;
}

.next-button-disabled {
  color: #595959;
}

.recap-gap {
  gap: 20px;
}

.recap-small-gap {
  gap: 10px;
}

.fs-recap-xl {
  font-size: 30px;
  color: white;
}

.recap-cover {
  width: 200px;
  height: 200px;
  border: 5px solid white;
  border-radius: 10px;
}

.fs-recap-artist {
  font-size: 40px;
  min-height: 50px;
  margin: 0;
  color: white;
}

.fs-recap-title {
  font-size: 55px;
  min-height: 70px;
  margin: 0;
  transform: translateY(-15px);
  color: white;
}

.fs-recap-number {
  font-size: 50px;
  color: white;
}

.recap-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.recap-title img {
  width: 70px;
  height: 70px;
  border: none;
}

.recap-title p {
  color: white;
}

@media (width < 600px) {

  ::ng-deep body {
    overflow: auto !important;
  }

  .fs-recap-xl {
    font-size: 1rem;
  }

  .fs-recap-artist {
    font-size: 1rem;
    min-height: 1rem;
    transform: none;
  }

  .fs-recap-title {
    font-size: 2rem;
    min-height: 2rem;
    transform: none;
  }

  .fs-recap-number {
    font-size: 2rem;
  }

  .upper {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .lower {
    bottom: 10px;
  }

  .lower p {
    color: white;
  }

  .content {
    height: auto;
  }

  .outer {
    width: auto;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
  }

  .recap-cover {
    width: 150px;
    height: 150px;
    border: 4px solid white;
  }
}