$primary-color-darker: #101019;
$accent-color: #a0ff5c;

.outer p {
  color: $accent-color;
}

.outer i {
  color: $accent-color;
}

@media (width < 600px) {

  .outer {
    padding: 2px 10px;
  }

  .outer i {
    font-size: 8px;
  }

}

