<div class="upper flex-row align-center justify-center">
    <p class="p-i fs-recap-xl">ALBUM OF THE YEAR {{ activeYear }}</p>
</div>
<div class="outer" #outer>
    <div class="content flex-column align-center justify-center recap-gap">
        <p class="p-b-i fs-recap-number">#{{ activeAlbumNumber }}</p>
        <img class="recap-cover" src="{{activeAlbum.imgUrl}}" alt="">
        <div>
            <p class="p-b-i fs-recap-artist">{{ typedArtist$ | async }}</p>
            <p class="p-b-i fs-recap-title">{{ typedText$ | async }}</p>
        </div>
    </div>
</div>
<div class="lower flex-row align-center justify-center gap-l">
    <a [routerLink]="['/aoty', activeYear]">VIEW ALL</a>
    <button [disabled]="activeAlbumNumber >= maxAlbums" (click)="prevAlbum()">PREV</button>
    <button [disabled]="activeAlbumNumber <= 1" (click)="nextAlbum()">NEXT</button>
    <button (click)="pause()">PAUSE / UNPAUSE</button>
    <button (click)="mute()">MUTE / UNMUTE</button>
</div>