<p class="p-i fs-xl title-gap-b"><span class="p-b-i"> my fav albums of {{ albumsOfTheYear?.year }}</span><span *ngIf="albumsOfTheYear?.year === thisYear"> (so far)</span></p>
<div *ngIf="albumsOfTheYear !== null" class="list gap-xl">
        <app-album-detail
                *ngFor="let album of albumsOfTheYear.albums; index as i"
                [album]="album"
                [index]="i+1"
                [showRecentPlays]="false"
        ></app-album-detail>
</div>
<div *ngIf="albumsOfTheYear === null">
    <p> Something went wrong! </p>
</div>