<div *ngIf="albumsOfTheYear !== null" class="parent-container">
    <button #prev (click)="clickPrev()" style="display: none" >P</button>
    <button #next (click)="clickNext()" style="display: none" >N</button>
    <div #page>
        <div class="scroll-element flex-column align-center justify-center gap-xl">
            <p class="p-b-i fs-title-s">my fav albums of</p>
            <p class="p-b-i fs-title-l">{{ albumsOfTheYear.year }}</p>
        </div>
    </div>
    <div #page class="page" *ngFor="let album of albumsOfTheYear.albums; index as i ">
        <app-album-detail
                [album]="album"
                [index]="i+1"
                class="scroll-element flex-row"
                [topAlbum]="i == 0 ? null : albumsOfTheYear.albums[i-1]"
                [bottomAlbum]="i == albumsOfTheYear.albums.length - 1 ? null : albumsOfTheYear.albums[i+1]"
                [ngStyle]=" { background : album.backGradient }"
        ></app-album-detail>
    </div>
</div>
<div *ngIf="albumsOfTheYear === null">
    <p> Something went wrong! </p>
</div>
