.scroll-element {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(100px);
  transition: all 0.5s 0.5s;
  background: #6dcfaa;
}
.scroll-element.show {
  opacity: 1;
  transform: translateY(0);
}
.parent-container {
  height: calc(100vh - 60px);
  width: 100%;
}