<div [ngClass]="{ 'halfTransparent' : midOrWorst }" class="flex-row align-center gap-l">
    <p class="p-b-i fs-xl counter">{{ index }}</p>
    <img class="cover" src="{{album.imgUrl}}" alt="">
    <div class="flex-column align-start gap-s">
        <a class="p-b-i fs-l left-text less-important-link" [routerLink]="['/aoty-lists', album.artist.replaceAll(' ','-').toLowerCase()]" ><span class="m-counter">{{ index }}. </span>{{ album.artist }}</a>
        <div class="flex-row align-center fake-gap-b-s gap-s m-flex-wrap">
            <p
                    *ngIf="midOrWorst"
                    class="p-b-i fs-xl left-text max-width-800"
            >
                {{ album.title | removeDeluxe }}
            </p>
            <a
                    *ngIf="!midOrWorst"
                    class="p-b-i fs-xl left-text max-width-800"
                    href="{{album.url}}"
                    target="_blank"
            >
                {{ album.title | removeDeluxe }}
            </a>
            <app-play-button
                    *ngIf="album.songs"
                    [url]="songinfo"
                    [isPlaying]="isPlaying"
            ></app-play-button>
        </div>
        <div>
            <p class="left-text fs-m max-width-800" *ngIf="album.songs !== undefined && album.songs.length > 0 ">Fav songs: <span class="p-b-i">{{ albumNames | removeFeat }}</span></p>
            <p class="left-text fs-m"><span class="p-b-i">{{ album.year }}</span><span *ngIf="album.genre"> - <span class="p-b-i">{{ album.genre }}</span></span></p>
        </div>
        <div class="flex-row align-center gap-s">
            <app-rating [rating]="album.rating"></app-rating>
            <app-lastfm *ngIf="(album.playTime && album.playTime > 0) || (album.playTime30Days && album.playTime30Days > 0)" [scrobbles]="album.playTime ? album.playTime : album.playTime30Days!" [scrobbles30Days]="album.playTime30Days!"></app-lastfm>
            <app-vinyl *ngIf="album.onVinyl !== undefined"
                       [wishlisted] = "!album.onVinyl"
            ></app-vinyl>
        </div>

    </div>
</div>

<!-- [ngClass]="{'tenAlbum' : Math.floor(album.rating) === 10, 'classicAlbum' : Math.floor(album.rating) === 11}" -->