<div class="flex-row m-flex-column gap-xxl flex-wrap justify-center">

    <div class="flex-column gap-xl">
        <p class="p-b-i fs-xl text-title">highlights</p>
        <div class="outer-highlight-card outer-highlight-card-movie flex-column gap-l">
            <app-item
                    [item]="{year: 0, week: 0}"
                    [isAoty]="'MLIST'"
                    [queryParam]="'all-movies'"
                    [text]="'all movies'"
            ></app-item>
            <app-item
                    [item]="{year: 0, week: 0}"
                    [isAoty]="'SLIST'"
                    [queryParam]="'all-shows'"
                    [text]="'all shows'"
            ></app-item>
        </div>
    </div>

    <div class="flex-column gap-xl">
        <p class="p-b-i fs-xl text-title">my fav movies of each year</p>
        <app-item
                *ngFor="let item of motyItemsGroupedByYear"
                [item]="item"
                [isAoty]="'MOTY'"
                [queryParam]="''"
                [text]="''"
                [isDecade]="false"
        ></app-item>
    </div>

    <div class="flex-column gap-xl">
        <p class="p-b-i fs-xl text-title">my fav shows of each year</p>
        <app-item
                *ngFor="let item of seriesItemsGroupedByYear"
                [item]="item"
                [isAoty]="'SERIES'"
                [queryParam]="''"
                [text]="''"
                [isDecade]="false"
        ></app-item>
    </div>


</div>