<div class="outer-highlight-card flex-column gap-l">
    <a *ngIf="isAoty === 'AOTY'" [routerLink]="['/aoty-decade', decade]" class="fs-xl p-b">{{ decade }}s</a>
    <a *ngIf="isAoty === 'SOTW'" [routerLink]="['/soty', items[0].year]" class="fs-xl p-b">{{ items[0].year }}</a>
    <div class="list gap-l">
        <app-item
                *ngFor="let item of items"
                [item]="item"
                [isAoty]="isAoty"
                [queryParam]="''"
                [text]="''"
        ></app-item>
    </div>
</div>
