<div [ngClass]="{ 'halfTransparent' : false }" class="flex-row align-center gap-l">
    <p class="p-b-i fs-xl counter">{{ index }}</p>
    <img class="movie-poster" src="{{movie.imgSrc}}" alt="">
    <div class="flex-column align-start gap-s">
        <a class="p-b-i fs-l left-text movies-less-important-link" [routerLink]="['/moty-lists', movie.creator.replaceAll(' ','-').toLowerCase()]" ><span class="m-counter">{{ index }}. </span>{{ movie.creator }}</a>
        <div class="flex-row align-center gap-s fake-gap-b m-flex-wrap">
            <a
                    class="p-b-i movies-text fs-xl left-text max-width-800"
                    href="{{movie.url}}"
                    target="_blank"
            >
                {{ movie.title }}<span class="p-i" *ngIf="activeSeason">: Season {{activeSeason}}</span>
            </a>
        </div>
        <p class="left-text fs-m max-width-800" *ngIf="movie.franchise !== undefined">Franchise: <span class="p-b-i">{{ movie.franchise }}</span></p>
        <div class="flex-row align-center gap-s">
            <app-rating [rating]="movie.rating" [activeSeason]="activeSeason"></app-rating>
        </div>

    </div>
</div>