$outer-track: #1e1f2c;
$accent-color: #a0ff5c;
$secondary-color: #e33050;

.outer-track {
  width: 70px;
  height: 5px;
  position: relative;
  background: $outer-track;
  margin: 0 0 9px 5px;
  border-radius: 5px;
}

.outer-track-disabled {
  background: $outer-track;
}

.inner-track {
  height: 5px;
  position: absolute;
  background: $accent-color;
  border-radius: 5px;
  left: 0;
}

.trackinfo {
  padding: 0 7px 10px 7px;
}

.trackinfo p {
  color: white;
}