.body {
  //outline: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

app-header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
}

.main-content {
  width: 100%;
}

@media (width < 600px) {
  .main-content {
    margin: 40px 10px 40px 10px;
  }
}