.body {
  //outline: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

app-header {
  width: 100%;
}

.main-content {
  width: calc(100% - 80px);
  margin: 50px 40px 0 40px;
  outline: 1px solid black;
}
