

.vinyl:hover {
  --x: 100%;
}

.vinyl {
  font-size: 20px;
  background: -webkit-linear-gradient(90deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/ 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 2px 4px #000000);
}

.vinyl-1 {

  --c1: #f6d365;
  --c2: #fda085;
}

.vinyl-wishlisted {
  font-size: 20px;
  background: -webkit-linear-gradient(90deg, var(--c1, #e4e4e4), var(--c2, #9a9a9a) 51%, var(--c1, #e1e1e1)) var(--x, 0)/ 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 2px 4px #000000);
}