<p class="p-i fs-xl"><span class="p-b-i text-title"> {{ aggregatedTitle }} </span></p>
<p *ngIf="aliases && aliases.length > 0" class="p-i fs-m">
    <span *ngIf="!isGroup">part of: </span>
    <span *ngIf="isGroup">members: </span>
    <span  *ngFor="let alias of aliases; index as i">
        <span [routerLink]="['/aoty-lists', alias.replaceAll(' ','-')]" class="p-b-i">{{ alias }}</span>
        <span *ngIf="!(aliases.length-1 === i)">, </span>
    </span>
</p>
<div class="flex-row align-center justify-center gap-s" style="margin-top: 10px" *ngIf="average">
    <p class="p-i fs-m">average:</p>
    <app-rating
            [rating]="average"
    ></app-rating>
</div>
<div class="title-gap-b"></div>
<div *ngIf="aggreatedAlbums !== null" class="list gap-xl">
    <app-album-detail
            *ngFor="let album of aggreatedAlbums.albums; index as i"
            [album]="album"
            [index]="i+1"
            [showRecentPlays]="showRecentPlays"
    ></app-album-detail>
</div>
<div *ngIf="aggreatedAlbums!.albums.length === 0">
    <p> No albums found </p>
</div>
<div *ngIf="aggregatedTitle === null">
    <p> Something went wrong! </p>
</div>