@font-face {
  font-family: Plus Jakarta Sans Bold;
  src: url(assets/font/PlusJakartaSans-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: Plus Jakarta Sans Bold Italic;
  src: url(assets/font/PlusJakartaSans-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: Plus Jakarta Sans Light;
  src: url(assets/font/PlusJakartaSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: Plus Jakarta Sans Light Italic;
  src: url(assets/font/PlusJakartaSans-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: Plus Jakarta Sans Medium;
  src: url(assets/font/PlusJakartaSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: Plus Jakarta Sans Medium Italic;
  src: url(assets/font/PlusJakartaSans-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: Noto Sans JP;
  src: url(assets/font/NotoSansJP-VariableFont_wght.ttf) format("truetype");
}

$accent-color: #00995E;
$primary-color: white;
$secondary-color: #fd6197;
$secondary-color-transparent: rgba(251, 125, 168, 0.46);
$text-color: black;
$light-accent-color: #6dcfaa;

body {
  background: $primary-color;
  overflow-x: hidden;
}

p {
  color: $text-color;
}

p, a {
  font-family: "Plus Jakarta Sans Medium", "Noto Sans JP", serif;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.left-text {
  text-align: left;
}

.text-margin {
  margin: 0 7px;
}

a {
  color: $accent-color;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: $secondary-color;
  cursor: pointer;
}

i:hover {
  color: $secondary-color;
}

.p-b {
  font-family: "Plus Jakarta Sans Bold", "Noto Sans JP", serif;
}

.p-b-i {
  font-family: "Plus Jakarta Sans Bold Italic", "Noto Sans JP", serif;
}

.p-i {
  font-family: "Plus Jakarta Sans Medium Italic", "Noto Sans JP", serif;
}

.p-l {
  font-family: "Plus Jakarta Sans Light", "Noto Sans JP", serif;
}

.p-l-i {
  font-family: "Plus Jakarta Sans Light Italic", "Noto Sans JP", serif;
}

body {
  margin: 0;
}

.fs-s {
  font-size: 12px;
}

.fs-m {
  font-size: 14px;
}

.fs-l {
  font-size: 16px;
}

.fs-xl {
  font-size: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gap-s {
  gap: 7px;
}

.gap-l {
  gap: 15px;
}

.gap-xl {
  gap: 25px;
}

.gap-xxl {
  gap: 50px;
}

.fake-gap-b {
  margin-bottom: 15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.title-gap-b {
  margin-bottom: 40px;
}

.tenAlbum, .tenAlbum i {
  color: $secondary-color;
}

.classicAlbum, .classicAlbum i {
  color: #d161fd;
}

.tenAlbum:hover {
  color: $secondary-color;
}

.tenAlbum:hover i {
  color: $secondary-color;
}

.flex-wrap {
  flex-wrap: wrap;
}

.play-button {
  font-size: 20px;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  color: $accent-color;
  text-decoration: none;
}

.play-button-header {
  color: $secondary-color;
  padding: 0 0 9px 0;
}

.play-button:hover i {
  color: $secondary-color;
}

.play-button-header:hover i {
  color: white;
}

.play-button-header-disabled {
  color: rgba(255, 255, 255, 0.48);
}

.play-button-header-disabled:hover i {
  color: rgba(255, 255, 255, 0.48);
}

.outer-highlight-card {
  background: $secondary-color-transparent;
  border-radius: 5px;
  padding: 15px;
}

.outer-highlight-card a {
  color: $text-color;
}

.outer-highlight-card a:hover {
  color: $primary-color;
}

.highlight-card {
  background: $secondary-color;
  border-radius: 5px;
  padding: 15px;
}

.highlight-card p, .highlight-card a {
  color: $primary-color;
}

.highlight-card a:hover {
  color: $text-color;
}

img {
  width: 120px;
  height: 120px;
  border: 3px solid black;
  border-radius: 5px;
}

.counter {
  min-width: 50px;
}

.m-counter {
  display: none;
}

.max-width-800 {
  max-width: 800px;
}

.non-mobile {
  display: flex;
}

@media (width < 600px) {

  .non-mobile {
    display: none;
  }

  img {
    width: 80px;
    height: 80px;
  }

  .m-flex-column {
    display: flex;
    flex-direction: column;
  }

  .m-flex-wrap {
    flex-wrap: wrap;
  }

  .fs-s {
    font-size: 8px;
  }

  .fs-m {
    font-size: 10px;
  }

  .fs-l {
    font-size: 12px;
  }

  .fs-xl {
    font-size: 16px;
  }

  .play-button {
    font-size: 16px;
  }

  .gap-s {
    gap: 2px;
  }

  .fake-gap-b {
    margin-bottom: 10px;
  }

  .counter {
    display: none;
  }

  .m-counter {
    display: inline;
  }

}

/**
  Scrollbar
 */

/*
    Scrollbar
 */
::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #636363;
  background-size: 400% 100%;
}

::-webkit-scrollbar-thumb {
  background: $accent-color;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}