@font-face {
  font-family: Plus Jakarta Sans Bold;
  src: url(assets/font/PlusJakartaSans-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: Plus Jakarta Sans Bold Italic;
  src: url(assets/font/PlusJakartaSans-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: Plus Jakarta Sans Light;
  src: url(assets/font/PlusJakartaSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: Plus Jakarta Sans Light Italic;
  src: url(assets/font/PlusJakartaSans-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: Plus Jakarta Sans Medium;
  src: url(assets/font/PlusJakartaSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: Plus Jakarta Sans Medium Italic;
  src: url(assets/font/PlusJakartaSans-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: Morris Roman Black;
  src: url(assets/font/MorrisRomanBlack.ttf) format("truetype");
}

@font-face {
  font-family: Morris Roman Black Alternate;
  src: url(assets/font/MorrisRomanBlackAlt.ttf) format("truetype");
}


@font-face {
  font-family: Noto Sans JP;
  src: url(assets/font/NotoSansJP-VariableFont_wght.ttf) format("truetype");
}

$primary-color: #171d29;
$primary-color-lighter: #2b2e43;
$primary-color-hover: #52556e;
$outer-track: #1e1f2c;
$primary-color-darker: #101019;
$accent-color: #a0ff5c;
$secondary-color: #e33050;
$secondary-color-light: #d077ad;
$text-color: #747b9f;
$text-color-light: #fff;
$light-accent-color: #67ca91;
$tertiary-color: #30a7c3;

html {
  background: $primary-color;
}

body {
  background: $primary-color;
  background: linear-gradient(180deg, $primary-color-lighter 10vh, $primary-color 30vh);
  overflow-x: hidden;
  background-repeat: no-repeat;
}

p {
  color: $text-color;
}

p, a, input, review-text {
  font-family: "Plus Jakarta Sans Medium", "Noto Sans JP", serif;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.left-text {
  text-align: left;
}

.text-margin {
  margin: 0 7px;
}

.review-text, .text-color {
  color: $text-color;
}

a {
  color: $text-color-light;
  outline: none;
  text-decoration: none;
}

.text-title {
  color: $secondary-color-light;
  /* font-family: "Morris Roman Black", "Plus Jakarta Sans Bold", "Noto Sans JP", serif !important;
  font-size: 26px !important; */
}

.less-important-link, .movies-less-important-link {
  color: $text-color;
}

a:hover, .less-important-link:hover {
  color: $accent-color;
  cursor: pointer;
}

i:hover {
  color: $accent-color;
}

.p-b {
  font-family: "Plus Jakarta Sans Bold", "Noto Sans JP", serif;
}

.p-b-i {
  font-family: "Plus Jakarta Sans Bold Italic", "Noto Sans JP", serif;
}

.p-i {
  font-family: "Plus Jakarta Sans Medium Italic", "Noto Sans JP", serif;
}

.p-l {
  font-family: "Plus Jakarta Sans Light", "Noto Sans JP", serif;
}

.p-l-i {
  font-family: "Plus Jakarta Sans Light Italic", "Noto Sans JP", serif;
}

body {
  margin: 0;
}

.fs-s {
  font-size: 12px;
}

.fs-m {
  font-size: 14px;
}

.fs-l {
  font-size: 16px;
}

.fs-xl {
  font-size: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gap-s {
  gap: 7px;
}

.gap-l {
  gap: 15px;
}

.gap-xl {
  gap: 25px;
}

.gap-xxl {
  gap: 50px;
}

.fake-gap-b {
  margin-bottom: 15px;
}

.fake-gap-b-s {
  margin-bottom: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.title-gap-b {
  margin-bottom: 40px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.play-button, .mute-button {
  font-size: 20px;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  color: $text-color-light;
  text-decoration: none;
}

.play-button-header, .mute-button {
  color: $accent-color;
  padding: 0 0 9px 0;
}

.play-button:hover i {
  color: $secondary-color-light;
}

.play-button-header:hover i, .mute-button:hover i {
  color: $secondary-color-light;
}

.play-button-header-disabled {
  color: $outer-track;
}

.play-button-header-disabled:hover i {
  color: $outer-track;
}

.outer-highlight-card {
  background: transparent;
  border: 5px solid $primary-color-lighter;
  border-radius: 5px;
  padding: 15px;
}

.outer-highlight-card a {
  color: $text-color-light;
}

.outer-highlight-card a:hover {
  color: $accent-color;
}

.highlight-card {
  background: $primary-color-lighter;
  border-radius: 5px;
  padding: 15px;
}

input, .select {
  padding: 15px;
}

input, .select, select {
  background: $primary-color-lighter;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
}

select {
  min-width: 50px;
}

.reset-button {
  padding: 15px;
}

.reset-button, .single-reset-button {
  border: none;
  text-decoration: none;
  outline: none;
  color: $text-color-light;
  background: none;
}

.reset-button:hover {
  color: $accent-color;
}

input:focus, .select:focus-within, .select:focus-within select {
  background: $primary-color-hover;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.47);
}

.highlight-card p, .highlight-card a {
  color: $text-color-light;
}

.highlight-card a:hover {
  color: $accent-color;
}


img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  object-fit: cover;
}

.artist-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.preview-img-div-outer {
  border: 3px solid $text-color-light;
}

.movie-poster {
  width: 120px;
  height: 180px;
}

.counter {
  min-width: 50px;
}

.m-counter {
  display: none;
}

.max-width-800 {
  max-width: 800px;
}

.non-mobile {
  display: flex;
}

.non-mobile-inline {
  display: inline;
}

.halfTransparent {
  opacity: 50%;
}

.mobile {
  display: none;
}

.fullsize-img {
  width: 280px;
  object-fit: cover;
  height: 175.5px;
  padding: 0;
  border: 3px solid $text-color-light;
  border-radius: 5px;
  margin: 15px 15px 5px 15px;
}

.list-banner {
  padding: 80px 0;
  margin: 10px;
  background: url("https://i.ytimg.com/vi/pdH1kXzquQo/maxresdefault.jpg") no-repeat center;
  border-radius: 5px;
  position: relative;
}

.list-banner-bottom {
  height: 50px;
  bottom: 0;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), $primary-color);
}

option:disabled {
  color: $text-color;
}

.review-cover {
  width: 200px;
  height: 200px;
  border: 5px solid white;
  border-radius: 10px;
}

.review-name {
  font-size: 25px;
  color: $secondary-color-light;
}

.review-title-text {
  font-size: 20px;
  color: $text-color-light;
}

.review-text {
  font-size: 16px;
}

.new-highlight-card {
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
}

.new-highlight-card-img {
  pointer-events: none;
  width: auto;
  border-radius: 5px;
}

.new-highlight-card-above {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.new-highlight-card-above span {
  margin-left: 30px;
}

@media (width < 600px) or (height < 700px) {

  .list-banner {
    padding: 40px 0;
    margin: 10px;
  }

  .select {
    min-width: 0;
  }

  input, .select {
    padding: 5px;
  }

  .reset-button {
    display: none;
  }

  .non-mobile, .non-mobile-inline {
    display: none;
  }

  .mobile {
    display: flex;
  }

  img {
    width: 80px;
    height: 80px;
  }

  .artist-img {
      width: 80px;
      height: 80px;
  }

  .movie-poster {
    width: 80px;
    height: 120px;
  }

  .m-flex-column {
    display: flex;
    flex-direction: column;
  }

  .m-flex-wrap {
    flex-wrap: wrap;
  }

  .fs-s {
    font-size: 8px;
  }

  .fs-m {
    font-size: 10px;
  }

  .fs-l {
    font-size: 12px;
  }

  .fs-xl {
    font-size: 16px;
  }

  .play-button, .mute-button {
    font-size: 16px;
  }

  .gap-s {
    gap: 2px;
  }

  .fake-gap-b {
    margin-bottom: 10px;
  }

  .fake-gap-b-s {
    margin-bottom: 8px;
  }

  .counter {
    display: none;
  }

  .m-counter {
    display: inline;
  }

  .mobile-align-center {
    align-items: center;
  }

  .review-cover {
    width: 100px;
    height: 100px;
    border: 3px solid white;
  }

  .review-name {
    font-size: 15px;
  }

  .review-title-text {
    font-size: 15px;
  }

  .review-text {
    font-size: 14px;
  }

}

/**
  Scrollbar
 */

/*
    Scrollbar
 */
::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: $primary-color;
  background-size: 400% 100%;
}

::-webkit-scrollbar-thumb {
  background: $primary-color-lighter;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-color-lighter;
}
