/**
  Colors
 */
$primary-color: #171d29;
$primary-color-lighter: #2b2e43;
$primary-color-hover: #52556e;
$outer-track: #1e1f2c;
$primary-color-darker: #101019;
$accent-color: #a0ff5c;
$secondary-color: #e33050;
$secondary-color-light: #d077ad;
$text-color: #747b9f;
$text-color-light: #fff;
$light-accent-color: #67ca91;
$tertiary-color: #30a7c3;

/**
  Sizes
 */
$small: 12px;
$medium: 14px;
$large: 16px;
$xl: 20px;

/**
  Mobile sizes
 */
$mobile-small: 8px;
$mobile-medium: 10px;
$mobile-large: 12px;
$mobile-xl: 16px;

/**
  Gaps
 */
$small-gap: 7px;
$medium-gap: 15px;
$large-gap: 25px;
$xl-gap: 50px;