<div class="flex-column gap-xxl flex-wrap align-start mobile-align-center">
    <p class="p-b-i fs-xl text-title">discographies i've listened to</p>
    <div class="flex-column flex-wrap align-center justify-center gap-l">
        <div class="flex-row align-center justify-center gap-l" *ngFor="let artist of aliasList?.artists">
            <img *ngIf="artist.icon" [src]="artist.icon" alt="artist icon" class="artist-img">
            <div class="flex-column align-start justify-center">
                <a (click)="navigate(artist.name)" class="fs-xl p-b">{{ artist.name | uppercase }}</a>
                <p class="fs-l">listened to {{ artist.listenedToAlbums }}/{{ artist.albums }} albums</p>
            </div>
        </div>
    </div>
</div>
