<div class="flex-row m-flex-column gap-xxl flex-wrap justify-center">
    <div class="flex-column gap-xl">
        <p class="p-b-i fs-xl">my fav albums of each year</p>
        <div class="flex-row m-flex-column flex-wrap gap-xl justify-center">
            <app-item-group
                    *ngFor="let list of aotyListsGroupedByDecade"
                    [items]="list.items"
                    [decade]="list.decade"
                    [isAoty]="'AOTY'"
            ></app-item-group>
            <div class="list gap-l">
                <app-item
                        *ngFor="let item of aotyListsWithoutDecade"
                        [item]="item"
                        [isAoty]="'AOTY'"
                        [queryParam]="''"
                        [text]="''"
                        [isDecade]="true"
                ></app-item>
            </div>
        </div>
    </div>
    <div class="flex-column gap-xl">
        <p class="p-b-i fs-xl">my fav songs from each week</p>
        <app-item-group
                *ngFor="let list of sotwListsGroupedByYear"
                [items]="list.items"
                [decade]="null"
                [isAoty]="'SOTW'"
        ></app-item-group>
    </div>
    <div class="flex-column gap-xl">
        <p class="p-b-i fs-xl">highlights</p>
        <div class="outer-highlight-card flex-column gap-l">
            <app-item
                    [item]="{year: 0, week: 0}"
                    [isAoty]="'LIST'"
                    [queryParam]="'alphabetical'"
                    [text]="'all albums'"
            ></app-item>
            <app-item
                    [item]="{year: 0, week: 0}"
                    [isAoty]="'LIST'"
                    [queryParam]="'fav-albums'"
                    [text]="'all time favorites'"
            ></app-item>
        </div>
        <p class="p-b-i fs-xl">favs per artist</p>
        <div class="outer-highlight-card flex-column gap-l">
            <app-item
                    [item]="{year: 0, week: 0}"
                    [isAoty]="'LIST'"
                    [queryParam]="'the-weeknd'"
                    [text]="'The Weeknd'"
            ></app-item>
            <app-item
                    [item]="{year: 0, week: 0}"
                    [isAoty]="'LIST'"
                    [queryParam]="'travis-scott'"
                    [text]="'Travis Scott'"
            ></app-item>
            <app-item
                    [item]="{year: 0, week: 0}"
                    [isAoty]="'LIST'"
                    [queryParam]="'kanye-west'"
                    [text]="'Kanye West'"
            ></app-item>
            <app-item
                    [item]="{year: 0, week: 0}"
                    [isAoty]="'LIST'"
                    [queryParam]="'kendrick-lamar'"
                    [text]="'Kendrick Lamar'"
            ></app-item>
            <app-item
                    [item]="{year: 0, week: 0}"
                    [isAoty]="'LIST'"
                    [queryParam]="'tyler-the-creator'"
                    [text]="'Tyler, The Creator'"
            ></app-item>
        </div>
    </div>

</div>
