<div class="flex-row m-flex-column gap-xxl">
    <div class="flex-column gap-xl">
        <p class="p-b-i fs-xl">my fav albums of each year</p>
        <app-item-group
                *ngFor="let list of aotyListsGroupedByDecade"
                [items]="list.items"
                [decade]="list.decade"
        ></app-item-group>
    </div>
    <div class="flex-column gap-xl">
        <p class="p-b-i fs-xl">my fav songs from each week</p>
        <div class="list gap-l">
            <app-item
                    *ngFor="let item of sotwList?.items"
                    [item]="item"
                    [isAoty]="false"
            ></app-item>
        </div>
    </div>

</div>
