<div class="flex-row m-flex-column gap-xxl flex-wrap justify-center">

    <app-home-special></app-home-special>

    <div class="flex-column gap-xl">
        <p class="p-b-i fs-xl text-title">my fav albums of each year</p>
        <div class="flex-row m-flex-column flex-wrap gap-xl justify-center">
            <app-item-group
                    *ngFor="let list of aotyListsGroupedByDecade"
                    [items]="list.items"
                    [decade]="list.decade"
                    [isAoty]="'AOTY'"
            ></app-item-group>
            <div class="list gap-l">
                <app-item
                        *ngFor="let item of aotyListsWithoutDecade"
                        [item]="item"
                        [isAoty]="'AOTY'"
                        [queryParam]="''"
                        [text]="''"
                        [isDecade]="true"
                ></app-item>
            </div>
        </div>
    </div>

    <div class="flex-column gap-xl">
        <p class="p-b-i fs-xl text-title">my fav songs from each week</p>
        <app-item-group
                *ngFor="let list of sotwListsGroupedByYear"
                [items]="list.items"
                [decade]="null"
                [isAoty]="'SOTW'"
        ></app-item-group>
    </div>

</div>
